body {
  background-color: #495054;
  color: #E3E8EA;
  width: 400px;
  height: 350px;
  font-family: 'Poppins', sans-serif;
  font-size: 13pt;
}
.intro {
  display: inline-block;
  padding-left: 5px;
  font-family: 'Fira Sans', sans-serif;
  font-size: 40pt;
}
.articleCounter {
  text-align: center;
  font-family: 'IBM Plex Mono', monospace;
  line-height: 1.75;
}
img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% { transform: translate(0.5px, 0.5px) rotate(0deg); }
  10% { transform: translate(-0.5px, -1px) rotate(-1deg); }
  20% { transform: translate(-1px, 0px) rotate(1deg); }
  30% { transform: translate(1px, 1px) rotate(0deg); }
  40% { transform: translate(0.5px, 0px) rotate(1deg); }
  50% { transform: translate(-0.5px, 1px) rotate(-1deg); }
  60% { transform: translate(-1px, 0px) rotate(0deg); }
  70% { transform: translate(1px, 0px) rotate(-1deg); }
  80% { transform: translate(-0.5px, -0.5px) rotate(1deg); }
  90% { transform: translate(0.5px, 0.5px) rotate(0deg); }
  100% { transform: translate(0.5px, -1px) rotate(-1deg); }
}

.timer {
  text-align: center;
}

.button {
  background-color: #70797E;
  border: none;
  border-radius: 4px;
  color: #E3E8EA;
  padding: 8px 10px;
  text-align: center;
  font-size: 15px;
  font-family: 'Fira Sans', sans-serif;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {opacity: 0.6}

.bt {
  margin: 0;
  position: absolute;
  left: 40%;
  -ms-transform: translateX(-33%);
  transform: translate(-33%);
}
